*{margin:0;padding:0;}
html, body{height:100%;}
body{font-family:Helvetica, Arial, sans-serif;font-size:16px;line-height:1.5;font-weight:300;background-color:#fdfdfd;}
h1{font-size:200%;font-weight:400;}
h2{font-size:150%;font-weight:400;}
h3{font-size:130%;font-weight:400;}
h4, h5, h6{font-size:110%;font-weight:400;}
a{color:#2a7ae2;text-decoration:none;}
a:hover{color:#000;text-decoration:underline;}
a:visited{color:#205caa;}
img{max-width:100%}
.wrap:before,
.wrap:after{content:"";display:table;}
.wrap:after{clear:both;}
.wrap{max-width:1000px;padding:0 30px;margin:0 auto;zoom:1;}
.site-header{border-top:5px solid #333;border-bottom:1px solid #e8e8e8;min-height:56px;background-color:white;}
.site-title,
.site-title:hover,
.site-title:visited{display:block;color:#333;font-size:26px;letter-spacing:-1px;float:left;line-height:56px;position:relative;z-index:1;}
.menu-icon{display:none;}
.site-nav{line-height:56px;float:left;margin:0px auto;}
.site-nav a{color:#727272;letter-spacing:-.5px;text-decoration:none;padding:0px 5px;}
.site-nav .arrow{font-size:11px;}
.site-nav ul{padding:0 10px;line-height:18px;list-style:none;position:relative;display:inline-table;}
.site-nav > ul{padding:0 10px;line-height:56px;list-style:none;position:relative;display:block;}
.site-nav > ul > li > a{display:inline-block;}
.site-nav ul li{float:left;padding:0px 5px;list-style:none;background:#FFF;position:relative;display:inline-block;}
.site-nav > ul > li:hover > a{background:#F7F7F7;}
.site-nav ul li:hover > ul{opacity:1;visibility:visible;transition:visibility 0s, opacity 0.15s linear;}
.site-nav ul ul{opacity:0;visibility:hidden;transition:visibility 0.25s, opacity 0.25s linear;z-index:1;display:block;background:#FFF;padding:0;position:absolute;top:100%;width:210px;border-top:1px solid #E6E6E6;border-left:1px solid #E6E6E6;border-right:1px solid #E6E6E6;font-size:smaller;}
.site-nav ul ul li{clear:left;width:100%;padding:5px 0px;border-bottom:1px solid #E6E6E6;position:relative;}
.site-nav ul ul li:hover{background:#F7F7F7;}
.site-nav ul ul ul{position:absolute;left:100%;width:170px;top:0;}
.site-footer{border-top:1px solid #e8e8e8;padding:30px 0;}
.footer-heading{font-size:18px;font-weight:300;letter-spacing:-.5px;margin-bottom:15px;}
.site-footer .column{float:left;margin-bottom:15px;}
.footer-col-1{width:270px;width:-webkit-calc(35% - 10px);width:-moz-calc(35% - 10px);width:-o-calc(35% - 10px);width:calc(35% - 10px);margin-right:10px}
.footer-col-2{width:175px;width:-webkit-calc(23.125% - 10px);width:-moz-calc(23.125% - 10px);width:-o-calc(23.125% - 10px);width:calc(23.125% - 10px);margin-right:10px}
.footer-col-3{width:335px;width:-webkit-calc(41.875%);width:-moz-calc(41.875%);width:-o-calc(41.875%);width:calc(41.875%);}
.site-footer ul{list-style:none;}
.site-footer li,
.site-footer p{font-size:15px;letter-spacing:-.3px;color:#828282;}
.github-icon-svg,
.twitter-icon-svg,
.gplus-icon-svg{display:inline-block;width:16px;height:16px;position:relative;top:3px;}
.page-content{padding:30px 0;background-color:#fff;}
.home h1{margin-bottom:25px;}
.posts{list-style-type:none;}
.posts li{margin-bottom:30px;}
.posts .post-link{font-size:24px;letter-spacing:-1px;line-height:1;}
.posts .post-date{display:block;font-size:15px;color:#818181;}
.post-header{margin:10px 0 30px;}
.post-header h1{font-size:42px;letter-spacing:-1.75px;line-height:1;font-weight:300;}
.post-header .meta{font-size:15px;color:#818181;margin-top:5px;}
.post-content{margin:0 0 30px;}
.post-content > *{margin:20px 0;}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6{line-height:1;font-weight:300;margin:40px 0 20px;}
.post-content h2{font-size:32px;letter-spacing:-1.25px;}
.post-content h3{font-size:26px;letter-spacing:-1px;}
.post-content h4{font-size:20px;letter-spacing:-1px;}
.post-content blockquote{border-left:4px solid #e8e8e8;padding-left:20px;font-size:18px;opacity:.6;letter-spacing:-1px;margin:30px 0;}
.post-content ul,
.post-content ol{padding-left:20px;}
.post pre,
.post code{border:1px solid #d5d5e9;background-color:#eef;padding:8px 12px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;font-size:15px;}
.post .highlightglslvs pre,
.post .highlightglslvs code{background-color:#fee;}
.post .highlightglslfs pre,
.post .highlightglslfs code{background-color:#efe;}
.post code{padding:1px 0px;white-space:pre-wrap;}
.post ul,
.post ol{margin-left:1.35em;}
.post pre code{border:none;}
.post pre.terminal{border:1px solid #000;background-color:#333;color:#FFF;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.post pre.terminal code{background-color:#333;}
.highlight{background:#ffffff;}
.highlight .c{color:#999988;font-style:italic}
.highlight .err{color:#a61717;background-color:#e3d2d2}
.highlight .k{font-weight:bold}
.highlight .o{font-weight:bold}
.highlight .cm{color:#999988;font-style:italic}
.highlight .cp{color:#999999;font-weight:bold}
.highlight .c1{color:#999988;font-style:italic}
.highlight .cs{color:#999999;font-weight:bold;font-style:italic}
.highlight .gd{color:#000000;background-color:#ffdddd}
.highlight .gd .x{color:#000000;background-color:#ffaaaa}
.highlight .ge{font-style:italic}
.highlight .gr{color:#aa0000}
.highlight .gh{color:#999999}
.highlight .gi{color:#000000;background-color:#ddffdd}
.highlight .gi .x{color:#000000;background-color:#aaffaa}
.highlight .go{color:#888888}
.highlight .gp{color:#555555}
.highlight .gs{font-weight:bold}
.highlight .gu{color:#aaaaaa}
.highlight .gt{color:#aa0000}
.highlight .kc{font-weight:bold}
.highlight .kd{font-weight:bold}
.highlight .kp{font-weight:bold}
.highlight .kr{font-weight:bold}
.highlight .kt{color:#445588;font-weight:bold}
.highlight .m{color:#009999}
.highlight .s{color:#d14}
.highlight .na{color:#008080}
.highlight .nb{color:#0086B3}
.highlight .nc{color:#445588;font-weight:bold}
.highlight .no{color:#008080}
.highlight .ni{color:#800080}
.highlight .ne{color:#990000;font-weight:bold}
.highlight .nf{color:#990000;font-weight:bold}
.highlight .nn{color:#555555}
.highlight .nt{color:#000080}
.highlight .nv{color:#008080}
.highlight .ow{font-weight:bold}
.highlight .w{color:#bbbbbb}
.highlight .mf{color:#009999}
.highlight .mh{color:#009999}
.highlight .mi{color:#009999}
.highlight .mo{color:#009999}
.highlight .sb{color:#d14}
.highlight .sc{color:#d14}
.highlight .sd{color:#d14}
.highlight .s2{color:#d14}
.highlight .se{color:#d14}
.highlight .sh{color:#d14}
.highlight .si{color:#d14}
.highlight .sx{color:#d14}
.highlight .sr{color:#009926}
.highlight .s1{color:#d14}
.highlight .ss{color:#990073}
.highlight .bp{color:#999999}
.highlight .vc{color:#008080}
.highlight .vg{color:#008080}
.highlight .vi{color:#008080}
.highlight .il{color:#009999}
@media screen and (max-width:750px){.footer-col-1{width:50%;}
.footer-col-2{width:45%;width:-webkit-calc(50% - 10px);width:-moz-calc(50% - 10px);width:-o-calc(50% - 10px);width:calc(50% - 10px);margin-right:0;}
.site-footer .column.footer-col-3{width:auto;float:none;clear:both;}
}
@media screen and (max-width:600px){.wrap{padding:0 12px;}
.site-nav{position:absolute;z-index:10;top:14px;right:8px;background-color:white;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #e8e8e8;}
.site-nav .arrow{display:none;}
.site-nav li ul{display:none;}
.site-nav .menu-icon{display:block;font-size:24px;color:#505050;float:right;width:36px;text-align:center;line-height:36px;}
.site-nav .menu-icon svg{width:18px;height:16px;}
.site-nav .trigger{clear:both;margin-bottom:5px;display:none;}
.site-nav:hover .trigger{display:block;}
.site-nav > ul > li{clear:left;display:block;text-align:right;line-height:1.25;padding:5px 10px;margin:0;}
.site-nav ul li:hover > ul{display:none;}
.post-header h1{font-size:36px;}
.post-content h2{font-size:28px;}
.post-content h3{font-size:22px;}
.post-content h4{font-size:18px;}
.post-content blockquote{padding-left:10px;}
.post-content ul,
.post-content ol{padding-left:10px;}
.site-footer .column{float:none;clear:both;width:auto;margin:0 0 15px;}
}