.highlight{background:#ffffff;}
.highlight .c{color:#999988;font-style:italic}
.highlight .err{color:#a61717;background-color:#eef}
.highlight .k{font-weight:bold}
.highlight .o{font-weight:bold}
.highlight .cm{color:#999988;font-style:italic}
.highlight .cp{color:#999999;font-weight:bold}
.highlight .c1{color:#999988;font-style:italic}
.highlight .cs{color:#999999;font-weight:bold;font-style:italic}
.highlight .gd{color:#000000;background-color:#ffdddd}
.highlight .gd .x{color:#000000;background-color:#ffaaaa}
.highlight .ge{font-style:italic}
.highlight .gr{color:#aa0000}
.highlight .gh{color:#999999}
.highlight .gi{color:#000000;background-color:#ddffdd}
.highlight .gi .x{color:#000000;background-color:#aaffaa}
.highlight .go{color:#888888}
.highlight .gp{color:#555555}
.highlight .gs{font-weight:bold}
.highlight .gu{color:#aaaaaa}
.highlight .gt{color:#aa0000}
.highlight .kc{font-weight:bold}
.highlight .kd{font-weight:bold}
.highlight .kp{font-weight:bold}
.highlight .kr{font-weight:bold}
.highlight .kt{color:#445588;font-weight:bold}
.highlight .m{color:#009999}
.highlight .s{color:#d14}
.highlight .na{color:#008080}
.highlight .nb{color:#0086B3}
.highlight .nc{color:#445588;font-weight:bold}
.highlight .no{color:#008080}
.highlight .ni{color:#800080}
.highlight .ne{color:#990000;font-weight:bold}
.highlight .nf{color:#990000;font-weight:bold}
.highlight .nn{color:#555555}
.highlight .nt{color:#000080}
.highlight .nv{color:#008080}
.highlight .ow{font-weight:bold}
.highlight .w{color:#bbbbbb}
.highlight .mf{color:#009999}
.highlight .mh{color:#009999}
.highlight .mi{color:#009999}
.highlight .mo{color:#009999}
.highlight .sb{color:#d14}
.highlight .sc{color:#d14}
.highlight .sd{color:#d14}
.highlight .s2{color:#d14}
.highlight .se{color:#d14}
.highlight .sh{color:#d14}
.highlight .si{color:#d14}
.highlight .sx{color:#d14}
.highlight .sr{color:#009926}
.highlight .s1{color:#d14}
.highlight .ss{color:#990073}
.highlight .bp{color:#999999}
.highlight .vc{color:#008080}
.highlight .vg{color:#008080}
.highlight .vi{color:#008080}
.highlight .il{color:#009999}
.highlightglslvs{background:#ffffff;}
.highlightglslvs .c{color:#999988;font-style:italic}
.highlightglslvs .err{color:#a61717;background-color:#eef}
.highlightglslvs .k{font-weight:bold}
.highlightglslvs .o{font-weight:bold}
.highlightglslvs .cm{color:#999988;font-style:italic}
.highlightglslvs .cp{color:#999999;font-weight:bold}
.highlightglslvs .c1{color:#999988;font-style:italic}
.highlightglslvs .cs{color:#999999;font-weight:bold;font-style:italic}
.highlightglslvs .gd{color:#000000;background-color:#ffdddd}
.highlightglslvs .gd .x{color:#000000;background-color:#ffaaaa}
.highlightglslvs .ge{font-style:italic}
.highlightglslvs .gr{color:#aa0000}
.highlightglslvs .gh{color:#999999}
.highlightglslvs .gi{color:#000000;background-color:#ddffdd}
.highlightglslvs .gi .x{color:#000000;background-color:#aaffaa}
.highlightglslvs .go{color:#888888}
.highlightglslvs .gp{color:#555555}
.highlightglslvs .gs{font-weight:bold}
.highlightglslvs .gu{color:#aaaaaa}
.highlightglslvs .gt{color:#aa0000}
.highlightglslvs .kc{font-weight:bold}
.highlightglslvs .kd{font-weight:bold}
.highlightglslvs .kp{font-weight:bold}
.highlightglslvs .kr{font-weight:bold}
.highlightglslvs .kt{color:#445588;font-weight:bold}
.highlightglslvs .m{color:#009999}
.highlightglslvs .s{color:#d14}
.highlightglslvs .na{color:#008080}
.highlightglslvs .nb{color:#0086B3}
.highlightglslvs .nc{color:#445588;font-weight:bold}
.highlightglslvs .no{color:#008080}
.highlightglslvs .ni{color:#800080}
.highlightglslvs .ne{color:#990000;font-weight:bold}
.highlightglslvs .nf{color:#990000;font-weight:bold}
.highlightglslvs .nn{color:#555555}
.highlightglslvs .nt{color:#000080}
.highlightglslvs .nv{color:#008080}
.highlightglslvs .ow{font-weight:bold}
.highlightglslvs .w{color:#bbbbbb}
.highlightglslvs .mf{color:#009999}
.highlightglslvs .mh{color:#009999}
.highlightglslvs .mi{color:#009999}
.highlightglslvs .mo{color:#009999}
.highlightglslvs .sb{color:#d14}
.highlightglslvs .sc{color:#d14}
.highlightglslvs .sd{color:#d14}
.highlightglslvs .s2{color:#d14}
.highlightglslvs .se{color:#d14}
.highlightglslvs .sh{color:#d14}
.highlightglslvs .si{color:#d14}
.highlightglslvs .sx{color:#d14}
.highlightglslvs .sr{color:#009926}
.highlightglslvs .s1{color:#d14}
.highlightglslvs .ss{color:#990073}
.highlightglslvs .bp{color:#999999}
.highlightglslvs .vc{color:#008080}
.highlightglslvs .vg{color:#008080}
.highlightglslvs .vi{color:#008080}
.highlightglslvs .il{color:#009999}
.highlightglslfs{background:#ffffff;}
.highlightglslfs .c{color:#999988;font-style:italic}
.highlightglslfs .err{color:#a61717;background-color:#eef}
.highlightglslfs .k{font-weight:bold}
.highlightglslfs .o{font-weight:bold}
.highlightglslfs .cm{color:#999988;font-style:italic}
.highlightglslfs .cp{color:#999999;font-weight:bold}
.highlightglslfs .c1{color:#999988;font-style:italic}
.highlightglslfs .cs{color:#999999;font-weight:bold;font-style:italic}
.highlightglslfs .gd{color:#000000;background-color:#ffdddd}
.highlightglslfs .gd .x{color:#000000;background-color:#ffaaaa}
.highlightglslfs .ge{font-style:italic}
.highlightglslfs .gr{color:#aa0000}
.highlightglslfs .gh{color:#999999}
.highlightglslfs .gi{color:#000000;background-color:#ddffdd}
.highlightglslfs .gi .x{color:#000000;background-color:#aaffaa}
.highlightglslfs .go{color:#888888}
.highlightglslfs .gp{color:#555555}
.highlightglslfs .gs{font-weight:bold}
.highlightglslfs .gu{color:#aaaaaa}
.highlightglslfs .gt{color:#aa0000}
.highlightglslfs .kc{font-weight:bold}
.highlightglslfs .kd{font-weight:bold}
.highlightglslfs .kp{font-weight:bold}
.highlightglslfs .kr{font-weight:bold}
.highlightglslfs .kt{color:#445588;font-weight:bold}
.highlightglslfs .m{color:#009999}
.highlightglslfs .s{color:#d14}
.highlightglslfs .na{color:#008080}
.highlightglslfs .nb{color:#0086B3}
.highlightglslfs .nc{color:#445588;font-weight:bold}
.highlightglslfs .no{color:#008080}
.highlightglslfs .ni{color:#800080}
.highlightglslfs .ne{color:#990000;font-weight:bold}
.highlightglslfs .nf{color:#990000;font-weight:bold}
.highlightglslfs .nn{color:#555555}
.highlightglslfs .nt{color:#000080}
.highlightglslfs .nv{color:#008080}
.highlightglslfs .ow{font-weight:bold}
.highlightglslfs .w{color:#bbbbbb}
.highlightglslfs .mf{color:#009999}
.highlightglslfs .mh{color:#009999}
.highlightglslfs .mi{color:#009999}
.highlightglslfs .mo{color:#009999}
.highlightglslfs .sb{color:#d14}
.highlightglslfs .sc{color:#d14}
.highlightglslfs .sd{color:#d14}
.highlightglslfs .s2{color:#d14}
.highlightglslfs .se{color:#d14}
.highlightglslfs .sh{color:#d14}
.highlightglslfs .si{color:#d14}
.highlightglslfs .sx{color:#d14}
.highlightglslfs .sr{color:#009926}
.highlightglslfs .s1{color:#d14}
.highlightglslfs .ss{color:#990073}
.highlightglslfs .bp{color:#999999}
.highlightglslfs .vc{color:#008080}
.highlightglslfs .vg{color:#008080}
.highlightglslfs .vi{color:#008080}
.highlightglslfs .il{color:#009999}
.highlightglslgs{background:#ffffff;}
.highlightglslgs .c{color:#999988;font-style:italic}
.highlightglslgs .err{color:#a61717;background-color:#eef}
.highlightglslgs .k{font-weight:bold}
.highlightglslgs .o{font-weight:bold}
.highlightglslgs .cm{color:#999988;font-style:italic}
.highlightglslgs .cp{color:#999999;font-weight:bold}
.highlightglslgs .c1{color:#999988;font-style:italic}
.highlightglslgs .cs{color:#999999;font-weight:bold;font-style:italic}
.highlightglslgs .gd{color:#000000;background-color:#ffdddd}
.highlightglslgs .gd .x{color:#000000;background-color:#ffaaaa}
.highlightglslgs .ge{font-style:italic}
.highlightglslgs .gr{color:#aa0000}
.highlightglslgs .gh{color:#999999}
.highlightglslgs .gi{color:#000000;background-color:#ddffdd}
.highlightglslgs .gi .x{color:#000000;background-color:#aaffaa}
.highlightglslgs .go{color:#888888}
.highlightglslgs .gp{color:#555555}
.highlightglslgs .gs{font-weight:bold}
.highlightglslgs .gu{color:#aaaaaa}
.highlightglslgs .gt{color:#aa0000}
.highlightglslgs .kc{font-weight:bold}
.highlightglslgs .kd{font-weight:bold}
.highlightglslgs .kp{font-weight:bold}
.highlightglslgs .kr{font-weight:bold}
.highlightglslgs .kt{color:#445588;font-weight:bold}
.highlightglslgs .m{color:#009999}
.highlightglslgs .s{color:#d14}
.highlightglslgs .na{color:#008080}
.highlightglslgs .nb{color:#0086B3}
.highlightglslgs .nc{color:#445588;font-weight:bold}
.highlightglslgs .no{color:#008080}
.highlightglslgs .ni{color:#800080}
.highlightglslgs .ne{color:#990000;font-weight:bold}
.highlightglslgs .nf{color:#990000;font-weight:bold}
.highlightglslgs .nn{color:#555555}
.highlightglslgs .nt{color:#000080}
.highlightglslgs .nv{color:#008080}
.highlightglslgs .ow{font-weight:bold}
.highlightglslgs .w{color:#bbbbbb}
.highlightglslgs .mf{color:#009999}
.highlightglslgs .mh{color:#009999}
.highlightglslgs .mi{color:#009999}
.highlightglslgs .mo{color:#009999}
.highlightglslgs .sb{color:#d14}
.highlightglslgs .sc{color:#d14}
.highlightglslgs .sd{color:#d14}
.highlightglslgs .s2{color:#d14}
.highlightglslgs .se{color:#d14}
.highlightglslgs .sh{color:#d14}
.highlightglslgs .si{color:#d14}
.highlightglslgs .sx{color:#d14}
.highlightglslgs .sr{color:#009926}
.highlightglslgs .s1{color:#d14}
.highlightglslgs .ss{color:#990073}
.highlightglslgs .bp{color:#999999}
.highlightglslgs .vc{color:#008080}
.highlightglslgs .vg{color:#008080}
.highlightglslgs .vi{color:#008080}
.highlightglslgs .il{color:#009999}
.highlightglslcs{background:#ffffff;}
.highlightglslcs .c{color:#999988;font-style:italic}
.highlightglslcs .err{color:#a61717;background-color:#eef}
.highlightglslcs .k{font-weight:bold}
.highlightglslcs .o{font-weight:bold}
.highlightglslcs .cm{color:#999988;font-style:italic}
.highlightglslcs .cp{color:#999999;font-weight:bold}
.highlightglslcs .c1{color:#999988;font-style:italic}
.highlightglslcs .cs{color:#999999;font-weight:bold;font-style:italic}
.highlightglslcs .gd{color:#000000;background-color:#ffdddd}
.highlightglslcs .gd .x{color:#000000;background-color:#ffaaaa}
.highlightglslcs .ge{font-style:italic}
.highlightglslcs .gr{color:#aa0000}
.highlightglslcs .gh{color:#999999}
.highlightglslcs .gi{color:#000000;background-color:#ddffdd}
.highlightglslcs .gi .x{color:#000000;background-color:#aaffaa}
.highlightglslcs .go{color:#888888}
.highlightglslcs .gp{color:#555555}
.highlightglslcs .gs{font-weight:bold}
.highlightglslcs .gu{color:#aaaaaa}
.highlightglslcs .gt{color:#aa0000}
.highlightglslcs .kc{font-weight:bold}
.highlightglslcs .kd{font-weight:bold}
.highlightglslcs .kp{font-weight:bold}
.highlightglslcs .kr{font-weight:bold}
.highlightglslcs .kt{color:#445588;font-weight:bold}
.highlightglslcs .m{color:#009999}
.highlightglslcs .s{color:#d14}
.highlightglslcs .na{color:#008080}
.highlightglslcs .nb{color:#0086B3}
.highlightglslcs .nc{color:#445588;font-weight:bold}
.highlightglslcs .no{color:#008080}
.highlightglslcs .ni{color:#800080}
.highlightglslcs .ne{color:#990000;font-weight:bold}
.highlightglslcs .nf{color:#990000;font-weight:bold}
.highlightglslcs .nn{color:#555555}
.highlightglslcs .nt{color:#000080}
.highlightglslcs .nv{color:#008080}
.highlightglslcs .ow{font-weight:bold}
.highlightglslcs .w{color:#bbbbbb}
.highlightglslcs .mf{color:#009999}
.highlightglslcs .mh{color:#009999}
.highlightglslcs .mi{color:#009999}
.highlightglslcs .mo{color:#009999}
.highlightglslcs .sb{color:#d14}
.highlightglslcs .sc{color:#d14}
.highlightglslcs .sd{color:#d14}
.highlightglslcs .s2{color:#d14}
.highlightglslcs .se{color:#d14}
.highlightglslcs .sh{color:#d14}
.highlightglslcs .si{color:#d14}
.highlightglslcs .sx{color:#d14}
.highlightglslcs .sr{color:#009926}
.highlightglslcs .s1{color:#d14}
.highlightglslcs .ss{color:#990073}
.highlightglslcs .bp{color:#999999}
.highlightglslcs .vc{color:#008080}
.highlightglslcs .vg{color:#008080}
.highlightglslcs .vi{color:#008080}
.highlightglslcs .il{color:#009999}
.highlightglslfs .lineno{-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;}
.highlightglslfs .lineno{color:#bbb;display:inline-block;padding:0 5px;border-right:1px solid #bbb;}
.highlightglslfs pre code{display:block;white-space:pre;overflow-x:auto;word-wrap:normal;}
.highlightglslvs .lineno{-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;}
.highlightglslvs .lineno{color:#bbb;display:inline-block;padding:0 5px;border-right:1px solid #bbb;}
.highlightglslvs pre code{display:block;white-space:pre;overflow-x:auto;word-wrap:normal;}
.highlight .lineno{-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;}
.lineno::-moz-selection{background-color:transparent;}
.lineno::selection{background-color:transparent;}
.highlight .lineno{color:#bbb;display:inline-block;padding:0 5px;border-right:1px solid #bbb;}
.highlight pre code{display:block;white-space:pre;overflow-x:auto;word-wrap:normal;}