---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  <div style="width:100%;display:flex;justify-content:space-between">
    {% assign sorted_pages = site.pages | sort:"order" %}
    {% assign precedent = null %}
    {% for p in sorted_pages %}
      {% if p.language == page.language and p.layout == page.layout %}
        {% if p.order < page.order %}
          {% assign precedent = p %}
        {% elsif p.order == page.order and precedent != null %}
          <a href="{{precedent.url}}">◀ {{precedent.title}}</a>
        {% elsif p.order > page.order %}
          <a href="{{p.url}}">{{p.title}} ▶</a>
          {% break %}
        {% endif %}
      {% endif %}
    {% endfor %}

  </div>

</div>